@tailwind base;
/* @tailwind components_admin; */
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #ffffff;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: 'cairo', sans-serif;
  cursor: default;
  /* height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0; */
  /* height: auto; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* * {
  outline: 1px solid red;
} */
/* إخفاء الأيقونة الافتراضية */
.swiper-button-prev,
.swiper-button-next {
  color: rgb(255,255, 255) !important;
  background-color: rgba(0, 0, 0, 0.612) !important;
  border: 1px solid rgb(255, 255, 255) !important;
  border-radius: 50% !important;
  width: 40px !important;
  height: 40px !important;
  
  
}

.swiper-button-prev svg,
.swiper-button-next svg {
  width: 15px !important;
  height: 15px !important;
}

.swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  border-radius: 999px !important;
  background-color: #d1d5db !important;
  opacity: 1 !important;
  transition: all 0.3s ease !important;
}

.swiper-pagination-bullet-active {
  width: 15px !important;
  background: #8b0202 !important;
}
