@tailwind base;
/* @tailwind components_admin; */
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #ffffff;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  font-family: "Inter", sans-serif;
  cursor: default;
  /* height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0; */
  /* height: auto; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
