@tailwind base;
/* @tailwind components_admin; */
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #ffffff;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  cursor: default;
  /* height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0; */
  /* height: auto; */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
html {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) transparent;
}

/* Chrome / Edge / Safari */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 999px;
  border: 1px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  opacity: 0.8;
}

/* Scrollbar أفقي */
::-webkit-scrollbar:horizontal {
  height: 7px;
}
/* * {
  outline: 1px solid red;
} */
/* إخفاء الأيقونة الافتراضية */
.swiper-button-prev,
.swiper-button-next {
  color: rgb(84, 81, 81) !important;
  width: 40px !important;
  height: 40px !important;
    opacity: 0 !important;
  visibility: hidden !important;
  transition: opacity 0.3s ease !important;
  
}

.swiper-button-prev svg,
.swiper-button-next svg {
  width: 30px !important;
  height: 30px !important;
}
.swiper:hover .swiper-button-prev,
.swiper:hover .swiper-button-next {
  opacity: 1 !important;
  visibility: visible !important;
}
.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  border-radius: 999px !important;
  background-color: #bcc0c6 !important;
  opacity: 1 !important;
  transition: all 0.3s ease !important;
}
.swiper-pagination {
  background: white;
  width: auto !important;
  border-radius: 999px !important;
  margin: 5px;
}
.swiper-pagination-bullet-active {
  width: 10px !important;
  height: 10px !important;
  background: #403f3f !important;
}
